[MAIN]
ignore=.git,
	__pycache__,
	venv,
	.venv,


[MESSAGES CONTROL]
disable=
	redefined-argument-from-local,
	too-many-arguments,
	too-few-public-methods,
	duplicate-code,
	too-many-locals,
	too-many-branches,
	line-too-long,
